<!DOCTYPE html>
<html>
<head>
  <title>An Tea and Coffee</title>
  <link rel="icon" type="image/png" href="https://www.anteacoffee.com/favicon.png" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
